#output-box {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 36px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#output-list {
    position: absolute;
    max-height: 100%;
    bottom: 0;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

pre {
    display: inline;
    margin: 0;
}

#input-box {
    position: absolute;
    color: black;
    bottom: 5px;
    left: 0;
    right: 0;
}

#input {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
