html, body {
    height: 100%;
}

body {
    background-color: #0d1117;
    color: #ccc;
    font-family: var(--bs-font-monospace);
    font-size: 13px;
    line-height: 13px;
}

pre {
    font-size: 13px;
    line-height: 13px;
}
