html, body {
    height: 100%;
}

body {
    background-color: #0d1117;
    color: #ccc;
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    font-size: 13px;
    line-height: 13px;
}

pre {
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    font-size: 13px;
    line-height: 13px;
}
